version: '3.8'
services:
  web:
    build: .
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app/backend
      - ./frontend:/app/frontend
    environment:
      - DATABASE_URL=sqlite:///../voting.db
      - JWT_SECRET_KEY=supersecretjwtkey
      - SECRET_KEY=supersecret
